<script>
  import { onMount } from "svelte";
  export let callService = "";
  export let test = "";

  let mfContainer;
  let bodyContainer;
  let headContainer;

  onMount(() => {
    callService
      .then(resp => resp.text())
      .then(function(data) {
        const doc = new DOMParser().parseFromString(data, "text/xml");
        const bodyDoc = doc.getElementsByTagName("body")[0];
        const headDoc = doc.getElementsByTagName("head")[0];

        const createCustomElements = (parent, nodeToAppend) => {
          if (!parent || !nodeToAppend) return;
          for (let index = 0; index < parent.children.length; index++) {
            let child = parent.children[index];

            let newElement = document.createElement(child.tagName);

            for (let i = 0; i < child.attributes.length; i++) {
              const attr = child.attributes[i];
              newElement.setAttribute(attr.name, attr.value);
              if (!!child.innerHTML) {
                newElement.innerHTML = child.innerHTML;
              }
            }

            nodeToAppend.appendChild(newElement);
          }
        };

        createCustomElements(headDoc, headContainer);
        createCustomElements(bodyDoc, bodyContainer);

        document.body.addEventListener("hello", function(event) {
          alert("Hello in Svelte"); // Hello from H1
        });
      });
  });
</script>

<!-- <svelte:options tag="custom-mf" /> -->
<div>
  <custom-mf bind:this={mfContainer}>
    <custom-head bind:this={headContainer} />
    <costum-body bind:this={bodyContainer} />
  </custom-mf>
</div>
